# Configure client credentials
# <client_id> & <client_secret>
# to authenticate registered client with Auth server.

# SECURITY WARNING: keep client credentials secret!
# SECURITY RISKS:
#   1. env file could be accessed by other users on the system.
#   2. file could be accidentally shared and credentials exposed.


CLIENT_ID='your-client-id'
CLIENT_SECRET='your-client-secret'
